.center {
    margin: auto;
    width:100%;
    padding: 1px;
}

.row{
    margin: 5px;
}
.units{
    margin: 0%;
    min-width: 100px;
    max-width: 600px;
}
.scrollable-menu {
    background: white;
    z-index: 9999;
    height: auto;
    max-height: 500px;
    min-height: 200px;
    overflow-x: hidden;
    
}